<h1>Menu</h1>
<hr />
<h2>Savory food</h2>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <div class="row">

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://goodlifeupdate.com/app/uploads/2021/04/image-131-edited.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ก๋วยเตี๋ยว</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.aws.nestle.recipes/original/494645db6798945b3c628be37b75241d_%E0%B8%81%E0%B8%B0%E0%B9%80%E0%B8%9E%E0%B8%A3%E0%B8%B2%E0%B9%80%E0%B8%88_new.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">กะเพราเจ</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
            
          
    </div>
</div>

